In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql://postgres:bleach#postgres@localhost:5433/film")

table_query='''SELECT table_name FROM information_schema.tables
WHERE table_schema = 'public' AND table_type='BASE TABLE'; '''

table_names=pd.read_sql(table_query,engine)['table_name'].to_list()

dfs={}
for table in table_names:
    dfs[table]= pd.read_sql(f"select * from public.{table}",engine)

payment = dfs["payment"]
film = dfs["film"]
actor = dfs["actor"]
address = dfs["address"]
category = dfs["category"]
city = dfs["city"]
country = dfs["country"]
customer = dfs["customer"]
film_actor = dfs["film_actor"]
film_category = dfs["film_category"]
inventory = dfs["inventory"]
language = dfs["language"]
rental = dfs["rental"]
staff = dfs["staff"]
store = dfs["store"]

| Aggregation     | Correct Function Signature                                                                                     |
| --------------- | -------------------------------------------------------------------------------------------------------------- |
| **`sum()`**     | `sum(axis=0, skipna=True, numeric_only=False, min_count=0)`                                                    |
| **`mean()`**    | `mean(axis=0, skipna=True, numeric_only=False)`                                                                |
| **`median()`**  | `median(axis=0, skipna=True, numeric_only=False)`                                                              |
| **`std()`**     | `std(axis=0, skipna=True, ddof=1, numeric_only=False)`                                                         |
| **`var()`**     | `var(axis=0, skipna=True, ddof=1, numeric_only=False)`                                                         |
| **`min()`**     | `min(axis=0, skipna=True, numeric_only=False)`                                                                 |
| **`max()`**     | `max(axis=0, skipna=True, numeric_only=False)`                                                                 |
| **`groupby()`** | `groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, dropna=True, observed=False)` |



| Measure                 | **PostgreSQL**        | **Python (pandas)**                 | **DAX (Power BI)**      |
| ----------------------- | --------------------- | ----------------------------------- | ----------------------- |
| **Sample Variance**     | `VAR_SAMP(column)`    | `df['col'].var(ddof=1)` *(default)* | `VAR.S('Table'[col])`   |
| **Population Variance** | `VAR_POP(column)`     | `df['col'].var(ddof=0)`             | `VAR.P('Table'[col])`   |
| **Sample Std Dev**      | `STDDEV_SAMP(column)` | `df['col'].std(ddof=1)` *(default)* | `STDEV.S('Table'[col])` |
| **Population Std Dev**  | `STDDEV_POP(column)`  | `df['col'].std(ddof=0)`             | `STDEV.P('Table'[col])` |

# aggregation functions in pandas


| **Aggregation Function** | **Description**                                     | **Parameters**                                                                              | **Example Usage**                                          |
| ------------------------ | --------------------------------------------------- | ------------------------------------------------------------------------------------------- | ---------------------------------------------------------- |
| `sum()`                  | Computes the sum of values.                         | `numeric_only=False`, `min_count=0`, `skipna=True`                                          | `df.groupby('column').sum(numeric_only=True, skipna=True)` |
| `mean()`                 | Computes the arithmetic mean.                       | `numeric_only=False`, `skipna=True`                                                         | `df.groupby('column').mean(skipna=True)`                   |
| `median()`               | Computes the median.                                | `numeric_only=False`, `skipna=True`                                                         | `df.groupby('column').median(skipna=False)`                |
| `min()`                  | Computes the minimum value.                         | `numeric_only=False`, `skipna=True`                                                         | `df.groupby('column').min(skipna=True)`                    |
| `max()`                  | Computes the maximum value.                         | `numeric_only=False`, `skipna=True`                                                         | `df.groupby('column').max(skipna=True)`                    |
| `count()`                | Counts non-NA/null values.                          | No parameters                                                                               | `df.groupby('column').count()`                             |
| `size()`                 | Counts all rows (including NA/null).                | No parameters                                                                               | `df.groupby('column').size()`                              |
| `nunique()`              | Counts unique values.                               | `dropna=True`                                                                               | `df.groupby('column').nunique(dropna=False)`               |
| `std()`                  | Computes standard deviation.                        | `numeric_only=False`, `skipna=True`, `ddof=1`                                               | `df.groupby('column').std(skipna=True, ddof=1)`            |
| `var()`                  | Computes variance.                                  | `numeric_only=False`, `skipna=True`, `ddof=1`                                               | `df.groupby('column').var(skipna=True, ddof=1)`            |
| `prod()`                 | Computes the product of values.                     | `numeric_only=False`, `min_count=0`, `skipna=True`                                          | `df.groupby('column').prod(skipna=True)`                   |
| `first()`                | Returns the first non-NA/null value.                | `skipna=False`                                                                              | `df.groupby('column').first()`                             |
| `last()`                 | Returns the last non-NA/null value.                 | `skipna=False`                                                                              | `df.groupby('column').last()`                              |
| `quantile()`             | Computes quantile(s).                               | `q=0.5`, `interpolation='linear'`, `numeric_only=False`, `skipna=True`                      | `df.groupby('column').quantile(q=0.25, skipna=True)`       |
| `sem()`                  | Computes standard error of the mean.                | `numeric_only=False`, `skipna=True`, `ddof=1`                                               | `df.groupby('column').sem(skipna=True, ddof=1)`            |
| `ohlc()`                 | Computes open, high, low, close values.             | No parameters                                                                               | `df.groupby('column').ohlc()`                              |
| `describe()`             | Generates descriptive statistics.                   | `percentiles=None`, `include=None`, `exclude=None`, `datetime_is_numeric=False`             | `df.groupby('column').describe(percentiles=[0.1, 0.9])`    |
| `agg()`                  | Applies one or more aggregation functions.          | `func`, `axis=0`, `*args`, `**kwargs`                                                       | `df.groupby('column').agg(['sum', 'mean'])`                |
| `apply()`                | Applies a custom function to groups.                | `func`, `raw=False`, `result_type=None`, `args=()`, `**kwargs`                              | `df.groupby('column').apply(lambda x: x.sum())`            |
| `transform()`            | Applies function, aligning result with input shape. | `func`, `axis=0`, `*args`, `**kwargs`                                                       | `df.groupby('column').transform('mean')`                   |
| `cumsum()`               | Computes cumulative sum.                            | `axis=0`, `skipna=True`, `numeric_only=False`                                               | `df.groupby('column').cumsum(skipna=True)`                 |
| `cummin()`               | Computes cumulative minimum.                        | `axis=0`, `skipna=True`, `numeric_only=False`                                               | `df.groupby('column').cummin(skipna=True)`                 |
| `cummax()`               | Computes cumulative maximum.                        | `axis=0`, `skipna=True`, `numeric_only=False`                                               | `df.groupby('column').cummax(skipna=True)`                 |
| `cumprod()`              | Computes cumulative product.                        | `axis=0`, `skipna=True`, `numeric_only=False`                                               | `df.groupby('column').cumprod(skipna=True)`                |
| `cumcount()`             | Computes cumulative count of rows.                  | `ascending=True`                                                                            | `df.groupby('column').cumcount(ascending=False)`           |
| `rank()`                 | Computes rank of values.                            | `method='average'`, `ascending=True`, `na_option='keep'`, `numeric_only=False`, `pct=False` | `df.groupby('column').rank(method='first')`                |

# Core Aggregations

| **Purpose**          | **Pandas Function**       | **DAX Function**               | **PostgreSQL Function**                               |
| -------------------- | ------------------------- | ------------------------------ | ----------------------------------------------------- |
| **Sum**              | `sum()`                   | `SUM(column)`                  | `SUM(column)`                                         |
| **Mean**             | `mean()`                  | `AVERAGE(column)`              | `AVG(column)`                                         |
| **Median**           | `median()`                | `MEDIAN(column)` / `MEDIANX()` | `PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY column)` |
| **Min**              | `min()`                   | `MIN(column)`                  | `MIN(column)`                                         |
| **Max**              | `max()`                   | `MAX(column)`                  | `MAX(column)`                                         |
| **Count (non-null)** | `count()`                 | `COUNT(column)`                | `COUNT(column)`                                       |
| **Row Count**        | `len(df)` / `df.shape[0]` | `COUNTROWS(table)`             | `COUNT(*)`                                            |

# Statistical Measures

| **Purpose**            | **Pandas Function** | **DAX Function**        | **PostgreSQL Function**                                        |
| ---------------------- | ------------------- | ----------------------- | -------------------------------------------------------------- |
| **Standard Deviation** | `std()`             | `STDEV.P(column)`       | `STDDEV_POP(column)`                                           |
| **Variance**           | `var()`             | `VAR.P(column)`         | `VAR_POP(column)`                                              |
| **Mode**               | `mode()`            | *(no direct function)*  | `MODE() WITHIN GROUP (ORDER BY column)` *(requires extension)* |
| **Unique Count**       | `nunique()`         | `DISTINCTCOUNT(column)` | `COUNT(DISTINCT column)`                                       |


# Positional Aggregations

| **Purpose** | **Pandas Function**    | **DAX Function**           | **PostgreSQL Function**                      |
| ----------- | ---------------------- | -------------------------- | -------------------------------------------- |
| **First**   | `head(1)` / `iloc[0]`  | `FIRSTNONBLANK(column, 1)` | `FIRST_VALUE(column) OVER (ORDER BY column)` |
| **Last**    | `tail(1)` / `iloc[-1]` | `LASTNONBLANK(column, 1)`  | `LAST_VALUE(column) OVER (ORDER BY column)`  |

# Miscellaneous

| **Purpose**             | **Pandas Function** | **DAX Function**         | **PostgreSQL Function**                       |
| ----------------------- | ------------------- | ------------------------ | --------------------------------------------- |
| **Product**             | `prod()`            | `PRODUCTX(table, expr)`  | `EXP(SUM(LN(column)))` *(numeric workaround)* |
| **Multiple Aggregates** | `agg()`             | `SUMMARIZE()` + measures | `GROUP BY` with multiple aggregates           |
| **Describe Summary**    | `describe()`        | *(no direct equivalent)* | *(manual aggregation per column)*             |

In [2]:
film['replacement_cost'].agg({"sum": "sum", "average": "mean","min":"min","max":"max"}).round(2)

sum        19984.00
average       19.98
min            9.99
max           29.99
Name: replacement_cost, dtype: float64

# group by

| Parameter     | Description                                                                                     | Example Use Case                                                                                 |
|--------------|-------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------|
| **by**        | Specifies what to group by (column name, list of columns, or function).                         | Group sales by Fruit to sum sales for each fruit (e.g., Apple, Banana).                         |
| **axis**      | Which axis to group along (default: 0 for rows; 1 for columns). Rarely used for columns.        | Group rows by Fruit (default, axis=0).                                                          |
| **level**     | Groups by a level of a MultiIndex (used when the DataFrame has a hierarchical index) default-none.           | Group by Fruit in a MultiIndex with Fruit and Day.                                              |
| **as_index**  | If True (default), group keys become the index. If False, they stay as columns.                 | Set as_index=False to keep Fruit as a column in the result, not the index.                     |
| **sort**      | If True (default), sorts group keys. If False, keeps original order for speed.                  | Use sort=False to group by Fruit faster without sorting Apple, Banana.                         |
| **group_keys**| If True (default), adds group names to the index when using apply. If False, keeps original index.| Use group_keys=False to double sales for each Fruit without adding Fruit to the index.        |
| **observed**  | For categorical columns: True only shows categories in the data; False (default) shows all defined categories.| Use observed=True to exclude Orange from results if no one bought it.              |
| **dropna**    | If True (default), excludes NaN/None from group keys. If False, includes them as a group.       | Use dropna=False to include sales with unknown Fruit (e.g., None).                             |

In [3]:
payment.groupby('customer_id').agg({'amount':['sum','mean'],'staff_id':'sum'}).reset_index().sort_values(by=('amount','sum'),ascending=False)

    customer_id  amount           staff_id
                    sum      mean      sum
525         526  221.55  4.923333       69
147         148  216.54  4.707391       68
143         144  195.58  4.656667       62
136         137  194.61  4.990000       55
177         178  194.61  4.990000       59
..          ...     ...       ...      ...
96           97   58.82  3.267778       28
394         395   57.81  3.042632       24
317         318   52.88  4.406667       17
280         281   50.86  3.632857       23
247         248   50.85  3.390000       23

[599 rows x 4 columns]

In [4]:
payment.groupby('customer_id')['amount'].agg(['sum','mean']).reset_index().sort_values(by='sum',ascending=False)

     customer_id     sum      mean
525          526  221.55  4.923333
147          148  216.54  4.707391
143          144  195.58  4.656667
136          137  194.61  4.990000
177          178  194.61  4.990000
..           ...     ...       ...
96            97   58.82  3.267778
394          395   57.81  3.042632
317          318   52.88  4.406667
280          281   50.86  3.632857
247          248   50.85  3.390000

[599 rows x 3 columns]

In [5]:
h=payment.set_index('customer_id',drop=True,inplace=False)
h.groupby(as_index=False,level='customer_id',sort=False,dropna=True,observed=False,group_keys=False)[['amount']].agg(['sum','mean'])

    customer_id  amount
                    sum      mean
0           269  129.70  4.323333
1           270  104.75  4.190000
2           271   68.82  3.823333
3           272   98.80  4.940000
4           273  157.65  4.504286
..          ...     ...       ...
594         233   89.77  3.903043
595         255   70.82  3.934444
596         258  110.76  4.615000
597         264   98.75  3.950000
598         195   86.81  4.568947

[599 rows x 3 columns]

In [6]:
payment['eu']=payment['payment_date'].dt.tz_convert('Europe/Berlin')
payment['eu']=payment['eu'].dt.date
payment[payment['amount']!=0].groupby(by=['staff_id','eu'],observed=False,as_index=False,level=None,sort=True,dropna=True,group_keys=False)['amount'].size().sort_values(by='size',ascending=False)

    staff_id          eu  size
79         2  2020-04-30   658
38         1  2020-04-30   625
64         2  2020-03-21   348
16         1  2020-03-01   342
62         2  2020-03-19   330
..       ...         ...   ...
49         2  2020-02-14    14
18         1  2020-03-16    14
0          1  2020-01-24     7
41         2  2020-01-24     7
8          1  2020-02-14     5

[82 rows x 3 columns]

In [7]:
payment['eu']=payment['payment_date'].dt.tz_convert('Europe/Berlin')
payment['eu']=payment['eu'].dt.strftime('%Y-%m-%d')
df=payment.loc[payment['eu'].isin(['2020-04-28','2020-04-29','2020-04-30'])].groupby(by=['customer_id','eu'],as_index=False).agg({'amount':['mean','count']})
df[df[('amount','count')]>1].sort_values(by=('amount','mean'),ascending=False).reset_index(inplace=False,drop=True)

    customer_id          eu amount
                              mean count
0           459  2020-04-29  10.49     2
1           443  2020-04-28   9.49     2
2           510  2020-04-28   9.49     2
3           245  2020-04-29   8.99     2
4            11  2020-04-30   8.49     2
..          ...         ...    ...   ...
703          91  2020-04-29   0.99     2
704         358  2020-04-30   0.99     2
705         572  2020-04-29   0.99     2
706         383  2020-04-30   0.99     2
707         318  2020-04-28   0.99     2

[708 rows x 4 columns]

In [8]:
customers_updated = customer.rename(columns={'address_id':'address_id_1'})
t1= pd.merge(
        address,
        customers_updated,
        left_on='address_id',
        right_on='address_id_1',
        how='left',
        sort=True,
        copy=True,
        indicator=False,
        validate='many_to_one',
        suffixes=('_a', '_c'),
        left_index=False,
        right_index=False
    )
t1.loc[t1['address_id_1'].isna()]

,address_id,address,address2,district,city_id,postal_code,phone,last_update_a,customer_id,store_id,first_name,last_name,email,address_id_1,activebool,create_date,last_update_c,active
0,1,47 MySakila Drive,None,Alberta,300,,,2020-02-15 09:45:30+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1,2,28 MySQL Boulevard,None,QLD,576,,,2020-02-15 09:45:30+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2,3,23 Workhaven Lane,None,Alberta,300,,14033335568,2020-02-15 09:45:30+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3,4,1411 Lillydale Drive,None,QLD,576,,6172235589,2020-02-15 09:45:30+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [9]:
updated_city=city.rename(columns={'country_id':'country_id_1'})
country_city=pd.merge(
    updated_city,
    country,
    left_on='country_id_1',
    right_on='country_id',
    how='inner',
    left_index=False,
    right_index=False,
    sort=True,
    copy=True,
    validate='many_to_one',
    indicator=False,
    suffixes=('_c','_co'))
updated_address=address.rename(columns={'city_id':'city_id_1'})
address_city=pd.merge(
    updated_address,
    country_city,
    left_on='city_id_1',
    right_on='city_id',
    how='inner',
    suffixes=('_ua','_cc')
)
d1=pd.merge(customers_updated,address_city,left_on='address_id_1',right_on='address_id',how='inner',suffixes=('_x','_y'))
d1.loc[d1['country']=='Brazil']

,customer_id,store_id,first_name,last_name,email,address_id_1,activebool,create_date,last_update_x,active,...,postal_code,phone,last_update_y,city_id,city,country_id_1,last_update_c,country_id,country,last_update_co
38,39,1,DEBRA,NELSON,DEBRA.NELSON@sakilacustomer.org,43,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,3989,378318851631,2020-02-15 09:45:30+00:00,569,Vila Velha,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
46,47,1,FRANCES,PARKER,FRANCES.PARKER@sakilacustomer.org,51,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,52535,69493378813,2020-02-15 09:45:30+00:00,247,Juazeiro do Norte,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
73,74,1,DENISE,KELLY,DENISE.KELLY@sakilacustomer.org,78,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,20207,241832790687,2020-02-15 09:45:30+00:00,431,Rio Claro,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
76,77,2,JANE,BENNETT,JANE.BENNETT@sakilacustomer.org,81,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,9223,918711376618,2020-02-15 09:45:30+00:00,30,Araatuba,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
91,92,2,TINA,SIMMONS,TINA.SIMMONS@sakilacustomer.org,96,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,17119,132986892228,2020-02-15 09:45:30+00:00,183,Goinia,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
125,126,1,ELLEN,SIMPSON,ELLEN.SIMPSON@sakilacustomer.org,130,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,66255,582835362905,2020-02-15 09:45:30+00:00,410,Po,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
129,130,1,CHARLOTTE,HUNTER,CHARLOTTE.HUNTER@sakilacustomer.org,134,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,82639,935448624185,2020-02-15 09:45:30+00:00,190,guas Lindas de Gois,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
177,178,2,MARION,SNYDER,MARION.SNYDER@sakilacustomer.org,182,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,47288,391065549876,2020-02-15 09:45:30+00:00,456,Santa Brbara dOeste,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
182,183,2,IDA,ANDREWS,IDA.ANDREWS@sakilacustomer.org,187,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,55709,947468818183,2020-02-15 09:45:30+00:00,317,Luzinia,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
205,206,1,TERRI,VASQUEZ,TERRI.VASQUEZ@sakilacustomer.org,210,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,10925,90336226227,2020-02-15 09:45:30+00:00,83,Blumenau,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
215,216,1,NATALIE,MEYER,NATALIE.MEYER@sakilacustomer.org,220,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,21464,873492228462,2020-02-15 09:45:30+00:00,28,Aparecida de Goinia,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
228,229,1,TAMARA,NGUYEN,TAMARA.NGUYEN@sakilacustomer.org,233,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,93323,22326410776,2020-02-15 09:45:30+00:00,26,Anpolis,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
245,246,1,MARIAN,MENDOZA,MARIAN.MENDOZA@sakilacustomer.org,250,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,6461,741070712873,2020-02-15 09:45:30+00:00,328,Maring,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
253,254,2,MAXINE,SILVA,MAXINE.SILVA@sakilacustomer.org,259,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,45403,840522972766,2020-02-15 09:45:30+00:00,413,Poos de Caldas,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
306,307,2,JOSEPH,JOY,JOSEPH.JOY@sakilacustomer.org,312,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,80184,573441801529,2020-02-15 09:45:30+00:00,25,Angra dos Reis,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
309,310,2,DANIEL,CABRAL,DANIEL.CABRAL@sakilacustomer.org,315,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,59686,103602195112,2020-02-15 09:45:30+00:00,215,Ibirit,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
313,314,1,GEORGE,LINTON,GEORGE.LINTON@sakilacustomer.org,319,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,59255,704948322302,2020-02-15 09:45:30+00:00,490,Sorocaba,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
324,325,1,TIMOTHY,BUNN,TIMOTHY.BUNN@sakilacustomer.org,330,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,87611,829116184079,2020-02-15 09:45:30+00:00,89,Braslia,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
341,342,1,HAROLD,MARTINO,HAROLD.MARTINO@sakilacustomer.org,347,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,71583,697656479977,2020-02-15 09:45:30+00:00,84,Boa Vista,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
353,354,2,JUSTIN,NGO,JUSTIN.NGO@sakilacustomer.org,359,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,37650,764680915323,2020-02-15 09:45:30+00:00,461,Santo Andr,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
361,362,1,NICHOLAS,BARFIELD,NICHOLAS.BARFIELD@sakilacustomer.org,367,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,6066,675120358494,2020-02-15 09:45:30+00:00,66,Belm,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
373,374,2,JEREMY,HURTADO,JEREMY.HURTADO@sakilacustomer.org,379,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,2800,600264533987,2020-02-15 09:45:30+00:00,572,Vitria de Santo Anto,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
397,398,1,ANTONIO,MEEK,ANTONIO.MEEK@sakilacustomer.org,403,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,10417,841876514789,2020-02-15 09:45:30+00:00,44,Bag,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
426,427,2,JESUS,MCCARTNEY,JESUS.MCCARTNEY@sakilacustomer.org,432,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,64964,419009857119,2020-02-15 09:45:30+00:00,189,Guaruj,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
442,443,2,FRANCISCO,SKIDMORE,FRANCISCO.SKIDMORE@sakilacustomer.org,448,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,29444,876491807547,2020-02-15 09:45:30+00:00,486,So Leopoldo,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
543,544,2,CODY,NOLEN,CODY.NOLEN@sakilacustomer.org,550,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,55676,169352919175,2020-02-15 09:45:30+00:00,485,So Bernardo do Campo,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
550,551,2,CLAYTON,BARBEE,CLAYTON.BARBEE@sakilacustomer.org,557,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,26284,380077794770,2020-02-15 09:45:30+00:00,21,Alvorada,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00
590,591,1,KENT,ARSENAULT,KENT.ARSENAULT@sakilacustomer.org,597,True,2020-02-14,2020-02-15 09:57:20+00:00,1,...,1944,410877354933,2020-02-15 09:45:30+00:00,248,Juiz de Fora,15,2020-02-15 09:45:25+00:00,15,Brazil,2020-02-15 09:44:00+00:00

In [10]:
sum=payment['amount'].mean()
payment.loc[payment['amount']>sum]

,payment_id,customer_id,staff_id,rental_id,amount,payment_date,eu
2,16052,269,2,678,6.99,2020-01-28 21:44:14.996577+00:00,2020-01-28
4,16054,269,1,750,4.99,2020-01-29 08:10:06.996577+00:00,2020-01-29
7,16057,270,1,1040,4.99,2020-01-31 04:03:42.996577+00:00,2020-01-31
8,16058,271,1,1096,8.99,2020-01-31 11:59:15.996577+00:00,2020-01-31
10,16060,272,1,405,6.99,2020-01-27 12:01:05.996577+00:00,2020-01-27
...,...,...,...,...,...,...,...
16034,32084,216,1,12970,5.98,2020-05-14 12:44:29.996577+00:00,2020-05-14
16036,32086,219,1,11577,4.99,2020-05-14 12:44:29.996577+00:00,2020-05-14
16037,32087,227,2,13374,4.99,2020-05-14 12:44:29.996577+00:00,2020-05-14
16043,32093,244,2,12736,4.99,2020-05-14 12:44:29.996577+00:00,2020-05-14
16046,32096,252,2,13756,4.99,2020-05-14 12:44:29.996577+00:00,2020-05-14

In [17]:
film['replacement_cost'].min()

9.99

In [31]:
ret=film
def rt(x):
    if (x['replacement_cost']>=9.99) & (x['replacement_cost']<=19.99):
        return 'low'
    elif (x['replacement_cost']>=20) & (x['replacement_cost']<=24.99):
        return 'medium'
    elif (x['replacement_cost']>=25) & (x['replacement_cost']<=29.99):
        return 'large'
    else:
        return 'no'

ret['new_c']=ret.apply(rt,axis=1)
ret['new_c'].value_counts(normalize=False,ascending=True,dropna=True)

new_c
large     236
medium    250
low       514
Name: count, dtype: int64