In [10]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql://postgres:bleach#postgres@localhost:5433/film")

table_query="""
SELECT table_name from information_schema.tables
WHERE table_schema='public' AND table_type='BASE TABLE';"""

table_names=pd.read_sql(table_query,engine)['table_name'].to_list()

dfs={}
for table in table_names:
    dfs[table]=pd.read_sql(f"SELECT * FROM public.{table}",engine)

payment = dfs["payment"]
film = dfs["film"]
actor = dfs["actor"]
address = dfs["address"]
category = dfs["category"]
city = dfs["city"]
country = dfs["country"]
customer = dfs["customer"]
film_actor = dfs["film_actor"]
film_category = dfs["film_category"]
inventory = dfs["inventory"]
language = dfs["language"]
rental = dfs["rental"]
staff = dfs["staff"]
store = dfs["store"]

# lower() and upper()

In [11]:
customer['lower_first_name']=customer['first_name'].str.lower()
customer['lower_last_name']=customer['last_name'].str.lower()
customer.loc[(customer['first_name'].str.len() > 10) | (customer['last_name'].str.len() >10)].iloc[:,-2:]

    lower_first_name lower_last_name
302          william     satterfield
308      christopher           greco
343            henry     billingsley
347            roger     quintanilla
352         jonathan     scarborough
411            allen     butterfield
519         mitchell    westmoreland
548           nelson     christenson

# text slicing

In [12]:
customer['email'].str[-4:-3]

0      .
1      .
2      .
3      .
4      .
      ..
594    .
595    .
596    .
597    .
598    .
Name: email, Length: 599, dtype: object

# fillna()

### when method is used we doesnt need value 

| **Parameter** | **Description**                                              | **Possible Values**                                                          | **Notes**                                                                           |
| ------------- | ------------------------------------------------------------ | ---------------------------------------------------------------------------- | ----------------------------------------------------------------------------------- |
| `value`       | Value to replace `NaN` with. Can be a scalar or dictionary.  | Scalar (e.g., `0`, `"missing"`) or `dict` (e.g., `{'A': 0, 'B': 'unknown'}`) | Mutually exclusive with `method`. Use for constant or column-specific fills.        |
| `method`      | Propagation method to fill `NaN` using existing values.      | `'ffill'` (forward fill), `'bfill'` (backward fill)                          | Mutually exclusive with `value`. Useful for time-series and ordered data.           |
| `axis`        | Axis along which to fill when using `method`.                | `0` or `'index'` (rows), `1` or `'columns'`                                  | Default is `0`. Only used with `method`.                                            |
| `inplace`     | Modify the original object in place or return a new one.     | `True`, `False` (default: `False`)                                           | Use `True` to avoid creating a copy (memory efficient), but modifies data directly. |
| `limit`       | Maximum number of consecutive `NaN` values to fill per axis. | Positive integer (e.g., `1`, `2`)                                            | Only used with `method`. Limits how far the fill propagates.                        |

downcast=None

# agg()

| **Parameter** | **Description**                                                                        | **Possible Values**                                                                                                                            | **Notes**                                                                          |
| ------------- | -------------------------------------------------------------------------------------- | ---------------------------------------------------------------------------------------------------------------------------------------------- | ---------------------------------------------------------------------------------- |
| `func`        | Function(s) to apply to the DataFrame/Series. Can be a single function, list, or dict. | String (e.g., `'sum'`, `'mean'`), function (e.g., `np.sum`), list (e.g., `['sum', 'mean']`), dict (e.g., `{'A': 'sum', 'B': ['mean', 'max']}`) | **Required**. Use strings for pandas built-in functions, or pass custom functions. |
| `axis`        | Axis along which to apply the aggregation.                                             | `0` or `'index'` (rows, default), `1` or `'columns'`                                                                                           | Typically `0` for column-wise aggregation. `1` is used for row-wise aggregation.   |
| `*args`       | Positional arguments to pass to the aggregation function(s).                           | Varies by function (e.g., `skipna=True` for `sum`)                                                                                             | Rarely used directly; depends on the function specified in `func`.                 |
| `**kwargs`    | Keyword arguments to pass to the aggregation function(s).                              | Varies by function (e.g., `min_count=1` for `sum`)                                                                                             | Common for passing options like `skipna` or `ddof`.                                |

In [13]:
customer['full_name']=customer['first_name'].fillna(value='').str[0]+'.'+ customer['last_name'].fillna(value='').str[0]
customer['full_name']

0      M.S
1      P.J
2      L.W
3      B.J
4      E.B
      ...
594    T.G
595    E.F
596    F.D
597    W.D
598    A.C
Name: full_name, Length: 599, dtype: object

In [14]:
customer[['first_name','last_name']].agg(func='.'.join,axis=1)

0              MARY.SMITH
1        PATRICIA.JOHNSON
2          LINDA.WILLIAMS
3           BARBARA.JONES
4         ELIZABETH.BROWN
              ...
594    TERRENCE.GUNDERSON
595      ENRIQUE.FORSYTHE
596        FREDDIE.DUGGAN
597         WADE.DELVALLE
598        AUSTIN.CINTRON
Length: 599, dtype: object

In [15]:
customer['email'].str.extract(r'^(.*?)\.')

             0
0         MARY
1     PATRICIA
2        LINDA
3      BARBARA
4    ELIZABETH
..         ...
594   TERRENCE
595    ENRIQUE
596    FREDDIE
597       WADE
598     AUSTIN

[599 rows x 1 columns]

In [16]:
def mask_email(email):
    try:
        first_char = email[0]
        dot_pos = email.find('.')
        dot_section = email[dot_pos:dot_pos+2] if dot_pos != -1 else ''
        at_pos = email.find('@')
        domain = email[at_pos:] if at_pos != -1 else ''
        return first_char + '***' + dot_section + '***' + domain
    except:
        return None  # For safety

# Apply masking
customer['masked_email'] = customer['email'].apply(mask_email)

customer

,customer_id,store_id,first_name,last_name,email,address_id,activebool,create_date,last_update,active,lower_first_name,lower_last_name,full_name,masked_email
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,True,2020-02-14,2020-02-15 09:57:20+00:00,1,mary,smith,M.S,M***.S***@sakilacustomer.org
1,2,1,PATRICIA,JOHNSON,PATRICIA.JOHNSON@sakilacustomer.org,6,True,2020-02-14,2020-02-15 09:57:20+00:00,1,patricia,johnson,P.J,P***.J***@sakilacustomer.org
2,3,1,LINDA,WILLIAMS,LINDA.WILLIAMS@sakilacustomer.org,7,True,2020-02-14,2020-02-15 09:57:20+00:00,1,linda,williams,L.W,L***.W***@sakilacustomer.org
3,4,2,BARBARA,JONES,BARBARA.JONES@sakilacustomer.org,8,True,2020-02-14,2020-02-15 09:57:20+00:00,1,barbara,jones,B.J,B***.J***@sakilacustomer.org
4,5,1,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,9,True,2020-02-14,2020-02-15 09:57:20+00:00,1,elizabeth,brown,E.B,E***.B***@sakilacustomer.org
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594,595,1,TERRENCE,GUNDERSON,TERRENCE.GUNDERSON@sakilacustomer.org,601,True,2020-02-14,2020-02-15 09:57:20+00:00,1,terrence,gunderson,T.G,T***.G***@sakilacustomer.org
595,596,1,ENRIQUE,FORSYTHE,ENRIQUE.FORSYTHE@sakilacustomer.org,602,True,2020-02-14,2020-02-15 09:57:20+00:00,1,enrique,forsythe,E.F,E***.F***@sakilacustomer.org
596,597,1,FREDDIE,DUGGAN,FREDDIE.DUGGAN@sakilacustomer.org,603,True,2020-02-14,2020-02-15 09:57:20+00:00,1,freddie,duggan,F.D,F***.D***@sakilacustomer.org
597,598,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,True,2020-02-14,2020-02-15 09:57:20+00:00,1,wade,delvalle,W.D,W***.D***@sakilacustomer.org
598,599,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,True,2020-02-14,2020-02-15 09:57:20+00:00,1,austin,cintron,A.C,A***.C***@sakilacustomer.org

In [28]:
payment['month']=payment['payment_date'].dt.tz_convert('Europe/Berlin')
payment['month']=payment['month'].dt.month

payment.groupby(by='month',level=None,observed=False,sort=True,as_index=True,group_keys=True,dropna=False).agg(func={'amount':'sum'}).reset_index().sort_values(by='amount',ignore_index=True,kind='mergesort',na_position='last',axis=0,ascending=False,inplace=False)

   month    amount
0      4  28327.02
1      3  23886.56
2      2   9631.88
3      1   4824.43
4      5    746.62

# postgres EXTRACT(field FROM source)
| `field`           | Description                               | Example Value (`2025-07-31 15:45:30`) | Example Query                                                  | Output             |
| ----------------- | ----------------------------------------- | ------------------------------------- | -------------------------------------------------------------- | ------------------ |
| `year`            | Year part                                 | 2025                                  | `EXTRACT(YEAR FROM TIMESTAMP '2025-07-31 15:45:30')`           | `2025`             |
| `month`           | Month (1–12)                              | 7                                     | `EXTRACT(MONTH FROM TIMESTAMP '2025-07-31 15:45:30')`          | `7`                |
| `day`             | Day of month (1–31)                       | 31                                    | `EXTRACT(DAY FROM TIMESTAMP '2025-07-31 15:45:30')`            | `31`               |
| `hour`            | Hour (0–23)                               | 15                                    | `EXTRACT(HOUR FROM TIMESTAMP '2025-07-31 15:45:30')`           | `15`               |
| `minute`          | Minute (0–59)                             | 45                                    | `EXTRACT(MINUTE FROM TIMESTAMP '2025-07-31 15:45:30')`         | `45`               |
| `second`          | Seconds (including fractions)             | 30                                    | `EXTRACT(SECOND FROM TIMESTAMP '2025-07-31 15:45:30.123')`     | `30.123`           |
| `dow`             | Day of week (0=Sunday, 1=Monday, ..., 6)  | 4 (Thursday)                          | `EXTRACT(DOW FROM TIMESTAMP '2025-07-31')`                     | `4`                |
| `doy`             | Day of year (1–366)                       | 212                                   | `EXTRACT(DOY FROM TIMESTAMP '2025-07-31')`                     | `212`              |
| `week`            | ISO week number of year (1–53)            | 31                                    | `EXTRACT(WEEK FROM TIMESTAMP '2025-07-31')`                    | `31`               |
| `quarter`         | Quarter of year (1–4)                     | 3                                     | `EXTRACT(QUARTER FROM TIMESTAMP '2025-07-31')`                 | `3`                |
| `epoch`           | Seconds since '1970-01-01 00:00:00 UTC'   | (numeric)                             | `EXTRACT(EPOCH FROM TIMESTAMP '2025-07-31 15:45:30')`          | e.g., `1753967130` |
| `isodow`          | ISO Day of week (1=Monday, ..., 7=Sunday) | 4 (Thursday)                          | `EXTRACT(ISODOW FROM TIMESTAMP '2025-07-31')`                  | `4`                |
| `isoyear`         | ISO 8601 week-numbering year              | 2025                                  | `EXTRACT(ISOYEAR FROM TIMESTAMP '2025-07-31')`                 | `2025`             |
| `milliseconds`    | Millisecond part of seconds               | 123                                   | `EXTRACT(MILLISECONDS FROM INTERVAL '0.123 seconds')`          | `123`              |
| `microseconds`    | Microsecond part of seconds               | 123000                                | `EXTRACT(MICROSECONDS FROM INTERVAL '0.123 seconds')`          | `123000`           |
| `timezone`        | Time zone offset in seconds               | Varies                                | `EXTRACT(TIMEZONE FROM TIMESTAMP WITH TIME ZONE '...')`        | Depends            |
| `timezone_hour`   | Hour part of time zone offset             | Varies                                | `EXTRACT(TIMEZONE_HOUR FROM TIMESTAMP WITH TIME ZONE '...')`   | Depends            |
| `timezone_minute` | Minute part of time zone offset           | Varies                                | `EXTRACT(TIMEZONE_MINUTE FROM TIMESTAMP WITH TIME ZONE '...')` | Depends            |

# pandas
| What to Extract         | Pandas Syntax                       | Description                          | Example Value (`2025-07-31 15:45:30`) |
| ----------------------- | ----------------------------------- | ------------------------------------ | ------------------------------------- |
| Year                    | `df['date'].dt.year`                | Four-digit year                      | `2025`                                |
| Month                   | `df['date'].dt.month`               | Month (1–12)                         | `7`                                   |
| Day of Month            | `df['date'].dt.day`                 | Day of the month (1–31)              | `31`                                  |
| Hour                    | `df['date'].dt.hour`                | Hour (0–23)                          | `15`                                  |
| Minute                  | `df['date'].dt.minute`              | Minute (0–59)                        | `45`                                  |
| Second                  | `df['date'].dt.second`              | Second (0–59)                        | `30`                                  |
| Day of Week (0=Mon)     | `df['date'].dt.weekday`             | Day of week (Monday=0, Sunday=6)     | `3` (Thursday)                        |
| Day of Week Name        | `df['date'].dt.day_name()`          | Returns weekday name                 | `Thursday`                            |
| Day of Year             | `df['date'].dt.dayofyear`           | Day of the year (1–366)              | `212`                                 |
| ISO Day of Week (1=Mon) | `df['date'].dt.isoweekday()`        | ISO day of week (Monday=1, Sunday=7) | `4`                                   |
| Week Number             | `df['date'].dt.isocalendar().week`  | ISO week number (1–53)               | `31`                                  |
| ISO Year                | `df['date'].dt.isocalendar().year`  | ISO week-based year                  | `2025`                                |
| Quarter                 | `df['date'].dt.quarter`             | Quarter of the year (1–4)            | `3`                                   |
| Date Only               | `df['date'].dt.date`                | Python `date` object (YYYY-MM-DD)    | `2025-07-31`                          |
| Time Only               | `df['date'].dt.time`                | Python `time` object (HH\:MM\:SS)    | `15:45:30`                            |
| Epoch Time (seconds)    | `df['date'].astype('int64') // 1e9` | Seconds since epoch (Unix time)      | `1753967130.0`                        |

# DAX
| What to Extract         | DAX Function / Formula                                                      | Description                               | Example Output (`2025-07-31 15:45:30`) |
| ----------------------- | --------------------------------------------------------------------------- | ----------------------------------------- | -------------------------------------- |
| Year                    | `YEAR('Sales'[OrderDate])`                                                  | Four-digit year                           | `2025`                                 |
| Month                   | `MONTH('Sales'[OrderDate])`                                                 | Month number (1–12)                       | `7`                                    |
| Day of Month            | `DAY('Sales'[OrderDate])`                                                   | Day of the month (1–31)                   | `31`                                   |
| Hour                    | `HOUR('Sales'[OrderDate])`                                                  | Hour (0–23)                               | `15`                                   |
| Minute                  | `MINUTE('Sales'[OrderDate])`                                                | Minute (0–59)                             | `45`                                   |
| Second                  | `SECOND('Sales'[OrderDate])`                                                | Second (0–59)                             | `30`                                   |
| Weekday (1=Sun default) | `WEEKDAY('Sales'[OrderDate])`                                               | Day of week (1=Sunday by default)         | `5` (Thursday)                         |
| Weekday (1=Mon ISO)     | `WEEKDAY('Sales'[OrderDate], 2)`                                            | Day of week (1=Monday, ISO format)        | `4` (Thursday)                         |
| Day of Year             | `DATEDIFF(DATE(YEAR('Sales'[OrderDate]),1,1), 'Sales'[OrderDate], DAY) + 1` | Day of year (1–366)                       | `212`                                  |
| Week Number (ISO)       | `WEEKNUM('Sales'[OrderDate], 21)`                                           | Week number using ISO 8601 (Monday start) | `31`                                   |
| Quarter                 | `QUARTER('Sales'[OrderDate])`                                               | Quarter of the year (1–4)                 | `3`                                    |
| Month Name              | `FORMAT('Sales'[OrderDate], "MMMM")`                                        | Full month name                           | `July`                                 |
| Weekday Name            | `FORMAT('Sales'[OrderDate], "dddd")`                                        | Full weekday name                         | `Thursday`                             |
| Date Only               | `TRUNC('Sales'[OrderDate])` or use `FORMAT`                                 | Remove time part                          | `2025-07-31`                           |
| Time Only               | `TIME(HOUR(...), MINUTE(...), SECOND(...))`                                 | Extract only the time                     | `15:45:30`                             |

# compared Chart

| What to Extract     | PostgreSQL                        | pandas                            | DAX                                                 |
| ------------------- | --------------------------------- | --------------------------------- | --------------------------------------------------- |
| **Year**            | `EXTRACT(YEAR FROM ts)`           | `df['ts'].dt.year`                | `YEAR('Table'[ts])`                                 |
| **Month**           | `EXTRACT(MONTH FROM ts)`          | `df['ts'].dt.month`               | `MONTH('Table'[ts])`                                |
| **Day**             | `EXTRACT(DAY FROM ts)`            | `df['ts'].dt.day`                 | `DAY('Table'[ts])`                                  |
| **Hour**            | `EXTRACT(HOUR FROM ts)`           | `df['ts'].dt.hour`                | `HOUR('Table'[ts])`                                 |
| **Minute**          | `EXTRACT(MINUTE FROM ts)`         | `df['ts'].dt.minute`              | `MINUTE('Table'[ts])`                               |
| **Second**          | `EXTRACT(SECOND FROM ts)`         | `df['ts'].dt.second`              | `SECOND('Table'[ts])`                               |
| **Quarter**         | `EXTRACT(QUARTER FROM ts)`        | `df['ts'].dt.quarter`             | `QUARTER('Table'[ts])`                              |
| **Day of Week**     | `EXTRACT(DOW FROM ts)` (0=Sun)    | `df['ts'].dt.weekday` (0=Mon)     | `WEEKDAY('Table'[ts])` (1=Sun)                      |
| **ISO Day of Week** | `EXTRACT(ISODOW FROM ts)` (1=Mon) | `df['ts'].dt.isoweekday()`        | `WEEKDAY('Table'[ts], 2)` (1=Mon)                   |
| **Day of Year**     | `EXTRACT(DOY FROM ts)`            | `df['ts'].dt.dayofyear`           | `DATEDIFF(DATE(YEAR(ts),1,1), ts, DAY)+1`           |
| **Week Number**     | `EXTRACT(WEEK FROM ts)`           | `df['ts'].dt.isocalendar().week`  | `WEEKNUM('Table'[ts], 21)` (ISO format)             |
| **ISO Year**        | `EXTRACT(ISOYEAR FROM ts)`        | `df['ts'].dt.isocalendar().year`  | No direct — custom logic required                   |
| **Month Name**      | `TO_CHAR(ts, 'Month')`            | `df['ts'].dt.strftime('%B')`      | `FORMAT('Table'[ts], "MMMM")`                       |
| **Day Name**        | `TO_CHAR(ts, 'Day')`              | `df['ts'].dt.day_name()`          | `FORMAT('Table'[ts], "dddd")`                       |
| **Epoch Seconds**   | `EXTRACT(EPOCH FROM ts)`          | `df['ts'].astype('int64') // 1e9` | Not available                                       |
| **Date Only**       | `DATE(ts)`                        | `df['ts'].dt.date`                | `TRUNC('Table'[ts])` or `FORMAT(..., "yyyy-mm-dd")` |
| **Time Only**       | `TO_CHAR(ts, 'HH24:MI:SS')`       | `df['ts'].dt.time`                | `TIME(HOUR(...), MINUTE(...), SECOND(...))`         |

# Formatting

| Output / What You Want            | PostgreSQL `TO_CHAR()`    | pandas / Python `.strftime()`  | DAX `FORMAT()`                              |
| --------------------------------- | ------------------------- | ------------------------------ | ------------------------------------------- |
| **Full Date** (2025-07-31)        | `'YYYY-MM-DD'`            | `'%Y-%m-%d'`                   | `"yyyy-mm-dd"`                              |
| **Year** (2025)                   | `'YYYY'`                  | `'%Y'`                         | `"yyyy"`                                    |
| **2-digit Year** (25)             | `'YY'`                    | `'%y'`                         | `"yy"`                                      |
| **Month (2-digit)** (07)          | `'MM'`                    | `'%m'`                         | `"mm"`                                      |
| **Month Abbr.** (Jul)             | `'Mon'` or `'MON'`        | `'%b'`                         | `"mmm"`                                     |
| **Month Full** (July)             | `'Month'`                 | `'%B'`                         | `"mmmm"`                                    |
| **Day (2-digit)** (31)            | `'DD'`                    | `'%d'`                         | `"dd"`                                      |
| **Day of Week (Abbr)** (Thu)      | `'DY'`                    | `'%a'`                         | `"ddd"`                                     |
| **Day of Week (Full)** (Thursday) | `'Day'`                   | `'%A'`                         | `"dddd"`                                    |
| **Hour (24h)** (15)               | `'HH24'`                  | `'%H'`                         | `"hh"` (used with `"HH:mm"`)                |
| **Hour (12h)** (03)               | `'HH12'`                  | `'%I'`                         | `"hh"`                                      |
| **Minutes** (45)                  | `'MI'`                    | `'%M'`                         | `"mm"`                                      |
| **Seconds** (30)                  | `'SS'`                    | `'%S'`                         | `"ss"`                                      |
| **AM/PM**                         | `'AM'` / `'PM'`           | `'%p'`                         | `"tt"`                                      |
| **Quarter** (Q3)                  | `TO_CHAR(..., 'Q')`       | `df.dt.quarter` (not strftime) | `QUARTER(...)` or `"Q" & QUARTER(...)`      |
| **Day of Year** (212)             | `'DDD'` or `'DOY'`        | `'%j'`                         | `DATEDIFF(DATE(YEAR(...),1,1), ..., DAY)+1` |
| **Week of Year** (ISO)            | `'IW'`                    | `dt.isocalendar().week`        | `WEEKNUM(..., 21)`                          |
| **Timezone Abbrev** (IST, UTC)    | `'TZ'`                    | `'%Z'`                         | Not supported                               |
| **Timezone Offset** (+05:30)      | `'OF'`                    | `'%z'`                         | Not supported                               |
| **Full Timestamp**                | `'YYYY-MM-DD HH24:MI:SS'` | `'%Y-%m-%d %H:%M:%S'`          | `"yyyy-mm-dd hh:mm:ss"`                     |

In [33]:
payment['payment_date'].dt.strftime('%d')

0        24
1        25
2        28
3        29
4        29
         ..
16044    14
16045    14
16046    14
16047    14
16048    14
Name: payment_date, Length: 16049, dtype: object