In [3]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql://postgres:bleach#postgres@localhost:5433/film")

table_query="""
SELECT table_name from information_schema.tables
WHERE table_schema='public' AND table_type='BASE TABLE';"""

table_names=pd.read_sql(table_query,engine)['table_name'].to_list()

dfs={}
for table in table_names:
    dfs[table]=pd.read_sql(f"SELECT * FROM public.{table}",engine)

payment = dfs["payment"]
film = dfs["film"]
actor = dfs["actor"]
address = dfs["address"]
category = dfs["category"]
city = dfs["city"]
country = dfs["country"]
customer = dfs["customer"]
film_actor = dfs["film_actor"]
film_category = dfs["film_category"]
inventory = dfs["inventory"]
language = dfs["language"]
rental = dfs["rental"]
staff = dfs["staff"]
store = dfs["store"]

# lower() and upper()

In [20]:
customer['lower_first_name']=customer['first_name'].str.lower()
customer['lower_last_name']=customer['last_name'].str.lower()
customer.loc[(customer['first_name'].str.len() > 10) | (customer['last_name'].str.len() >10)].iloc[:,-2:]

    lower_first_name lower_last_name
302          william     satterfield
308      christopher           greco
343            henry     billingsley
347            roger     quintanilla
352         jonathan     scarborough
411            allen     butterfield
519         mitchell    westmoreland
548           nelson     christenson

# text slicing

In [31]:
customer['email'].str[-4:-3]

0      .
1      .
2      .
3      .
4      .
      ..
594    .
595    .
596    .
597    .
598    .
Name: email, Length: 599, dtype: object

# fillna()

### when method is used we doesnt need value 

| **Parameter** | **Description**                                              | **Possible Values**                                                          | **Notes**                                                                           |
| ------------- | ------------------------------------------------------------ | ---------------------------------------------------------------------------- | ----------------------------------------------------------------------------------- |
| `value`       | Value to replace `NaN` with. Can be a scalar or dictionary.  | Scalar (e.g., `0`, `"missing"`) or `dict` (e.g., `{'A': 0, 'B': 'unknown'}`) | Mutually exclusive with `method`. Use for constant or column-specific fills.        |
| `method`      | Propagation method to fill `NaN` using existing values.      | `'ffill'` (forward fill), `'bfill'` (backward fill)                          | Mutually exclusive with `value`. Useful for time-series and ordered data.           |
| `axis`        | Axis along which to fill when using `method`.                | `0` or `'index'` (rows), `1` or `'columns'`                                  | Default is `0`. Only used with `method`.                                            |
| `inplace`     | Modify the original object in place or return a new one.     | `True`, `False` (default: `False`)                                           | Use `True` to avoid creating a copy (memory efficient), but modifies data directly. |
| `limit`       | Maximum number of consecutive `NaN` values to fill per axis. | Positive integer (e.g., `1`, `2`)                                            | Only used with `method`. Limits how far the fill propagates.                        |

# agg()

| **Parameter** | **Description**                                                                        | **Possible Values**                                                                                                                            | **Notes**                                                                          |
| ------------- | -------------------------------------------------------------------------------------- | ---------------------------------------------------------------------------------------------------------------------------------------------- | ---------------------------------------------------------------------------------- |
| `func`        | Function(s) to apply to the DataFrame/Series. Can be a single function, list, or dict. | String (e.g., `'sum'`, `'mean'`), function (e.g., `np.sum`), list (e.g., `['sum', 'mean']`), dict (e.g., `{'A': 'sum', 'B': ['mean', 'max']}`) | **Required**. Use strings for pandas built-in functions, or pass custom functions. |
| `axis`        | Axis along which to apply the aggregation.                                             | `0` or `'index'` (rows, default), `1` or `'columns'`                                                                                           | Typically `0` for column-wise aggregation. `1` is used for row-wise aggregation.   |
| `*args`       | Positional arguments to pass to the aggregation function(s).                           | Varies by function (e.g., `skipna=True` for `sum`)                                                                                             | Rarely used directly; depends on the function specified in `func`.                 |
| `**kwargs`    | Keyword arguments to pass to the aggregation function(s).                              | Varies by function (e.g., `min_count=1` for `sum`)                                                                                             | Common for passing options like `skipna` or `ddof`.                                |

In [35]:
customer['full_name']=customer['first_name'].fillna(value='').str[0]+'.'+ customer['last_name'].fillna(value='').str[0]
customer['full_name']

0      M.S
1      P.J
2      L.W
3      B.J
4      E.B
      ...
594    T.G
595    E.F
596    F.D
597    W.D
598    A.C
Name: full_name, Length: 599, dtype: object

In [37]:
customer[['first_name','last_name']].agg(func='.'.join,axis=1)

0              MARY.SMITH
1        PATRICIA.JOHNSON
2          LINDA.WILLIAMS
3           BARBARA.JONES
4         ELIZABETH.BROWN
              ...
594    TERRENCE.GUNDERSON
595      ENRIQUE.FORSYTHE
596        FREDDIE.DUGGAN
597         WADE.DELVALLE
598        AUSTIN.CINTRON
Length: 599, dtype: object

In [46]:
customer['email'].str.extract(r'^(.*?)\.')

             0
0         MARY
1     PATRICIA
2        LINDA
3      BARBARA
4    ELIZABETH
..         ...
594   TERRENCE
595    ENRIQUE
596    FREDDIE
597       WADE
598     AUSTIN

[599 rows x 1 columns]