In [9]:
import pandas as pd
from sqlalchemy import create_engine

engine=create_engine('postgresql://postgres:bleach#postgres@localhost:5433/demo')

table_query= """
SELECT table_name FROM information_schema.tables
WHERE table_schema='bookings' AND table_type='BASE TABLE'
"""

table_names=pd.read_sql(table_query,engine)['table_name'].to_list()

dfs={}
for table in table_names:
    dfs[table]=pd.read_sql(f"SELECT * FROM bookings.{table}",engine)

ticket_flights=dfs['ticket_flights']
boarding_passes=dfs['boarding_passes']
aircrafts_data=dfs['aircrafts_data']
flights=dfs['flights']
seats=dfs['seats']
tickets=dfs['tickets']
bookings=dfs['bookings']
airports_data=dfs['airports_data']

In [18]:
def get_departure_status(row):
    if pd.isna(row['actual_departure']):
        return 'no departure time'
    elif row['actual_departure'] - row['scheduled_departure'] < pd.Timedelta(minutes=5):
        return 'on time'
    else:
        return 'late'

# Apply function row-wise
flights['departure_status'] = flights.apply(get_departure_status, axis=1)
flights['departure_status']

0        no departure time
1        no departure time
2        no departure time
3        no departure time
4        no departure time
               ...
33116              on time
33117                 late
33118    no departure time
33119              on time
33120    no departure time
Name: departure_status, Length: 33121, dtype: object

In [37]:
def pricy(amount):
    if amount < 20000:
        return "low price ticket"
    elif (amount >= 20000) & (amount <150000):
        return "mid price ticket"
    else:
        return "high price"


bookings['ticket_price']=bookings['total_amount'].apply(pricy)
bookings['ticket_price'].value_counts(normalize=False,ascending=False,dropna=True)

ticket_price
mid price ticket    205036
high price           30012
low price ticket     27740
Name: count, dtype: int64